venv
virtualenv
log
.DS_Store
.vagrant
prod.py
config.py
.env
*.py[cod]

# vim cruft
*.swp
*.un~
.ropeproject

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetest
