Jinja2==2.7.1
Mako==0.9.0
MarkupSafe==0.18
WebOb==1.2.3
WebTest==2.0.9
beautifulsoup4==4.3.2
flake8
ipdb==0.8
ipython
mccabe
pecan
pep8
py
pyflakes
pytest
requests==2.0.0
singledispatch==3.4.0.2
six==1.4.1
waitress==0.8.7
wsgiref
pytz
tzlocal
