body {
  font-size: 13px;
}

.page-header {
  margin-top: 20px;
}

.navbar-brand > img {
  display: inline;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.1em;
}

table {
    font-size: 1em;
}

th[data-sort]{
  cursor:pointer;
}

.hiddenRow {
  padding: 0 !important;
}

table.link-bare td a {
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
}

table.link-bare td a:hover {
    display: block;
    color: #111;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('/fonts/UbuntuMono-R.ttf')  format('truetype')
}

.code-text {
    font-family: 'UbuntuMono';
    background-color: #eee;
    padding-left: 25px;
}

/* Progress meter */

.progress-meter .background {
  fill: #ccc;
}

.progress-meter .foreground {
  fill: #000;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

div[class="tooltip-inner"] {
  max-width: 350px;
}

.navbar-form > input {
  margin-top: 17px;
}

.inline {
  display: inline !important;
}

.navbar-form input {
  border: 1px inset;
}

.navbar .nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-right {
  border: none;
  background: transparent;
}

.navbar-tiny > li > a {
  padding-top: 0px !important;
  padding-bottom: 5px !important;
}

.modal-static {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    margin-top: -75px;
    margin-left: -75px;
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 150px;
    height: 150px;
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important;
    margin: 0 !important;
}
.modal-static .modal-content .icon {
}

.spaced-h {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.bs-example {
 margin: 10px 0 0 0;
}

#body-content {
  width:100%;
  padding-left:5px;
  padding-right:5px;
}

/* backported from another version of bootstrap */
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}

.center-table {
  float: none !important;
  margin: 0 auto;
  display: table !important;
}

.center-inline-block {
  display: inline-block !important;
}
