{% extends "layout.html" %}

{% block body %}
      <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
                {% if filters %}
                <h2>
                    <ol class="breadcrumb">
                        {% for filter in filters %}
                        <li>
                          <a onclick="filter('{{ filter }}', '{{ filters[filter]|replace(' ', '+') }}')" href="#">{{ filter + ': ' + filters[filter]  }}</a> <a onclick="unstack_filter('{{ filter }}')" href="#"><i class='fa fa-times'></i></a>
                        </li>
                        {% endfor %}
                        <li>{{ runs|length }} runs</li>
                    </ol>
                </h2>
                {% endif %}
              <h2>
                Job stats:
                {% macro total(attr) %}
                  {{ runs|map(attribute='results')|sum(attribute=attr) }}
                {% endmacro %}
                {% set num_fail = total('fail') %}
                {% if num_fail|int > 0 %} {{ num_fail }} failed, {% endif %}

                {% set num_running = total('running') %}
                {% if num_running|int > 0 %} {{ num_running }} running, {% endif %}

                {% set num_dead = total('dead') %}
                {% if num_dead|int > 0 %} {{ num_dead }} dead, {% endif %}

                {% set num_unknown = total('unknown') %}
                {% if num_unknown|int > 0 %} {{ num_unknown }} unknown, {% endif %}

                {% set num_pass = total('pass') %}
                {% if num_pass|int > 0 %} {{ num_pass }} passed, {% endif %}

                {% set num_total = total('total') %}
                ({{ num_total|int }} total)
              </h2>
            </div>

            <div class="bs-example">
              <table class="table table-condensed table-striped table-bordered table-hover link-bare">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Scheduled</th>
                    <th data-sortinitialorder="desc">Posted (Started)<span class="fa fa-sort-desc"></span></th>
                    <th>Suite</th>
                    <th>Branch</th>
                    <th>Machine Type</th>
                    {% if num_pass|int > 0 %}<th>Pass</th>{% endif %}
                    {% if num_fail|int > 0 %}<th>Fail</th>{% endif %}
                    {% if num_dead|int > 0 %}<th>Dead</th>{% endif %}
                    {% if num_unknown|int > 0 %}<th>Unknown</th>{% endif %}
                    {% if num_running|int > 0 %}<th>Running</th>{% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for run in runs %}
                    <tr class="{{ run['status_class'] }}">
                      {% for field in ['user', 'scheduled', 'posted', 'suite', 'branch', 'machine_type'] %}
                        {% if field in ['posted'] %}
                        <td>
                            <a href="/{{ run.name }}" target="_blank">{{ run[field]|localtime }}</a>
                        </td>
                        {% else %}
                        <td>
                            <a href="/{{ run.name }}" target="_blank">{{ run[field] }}</a>
                        </td>
                        {% endif %}
                      {% endfor %}
                      {% if num_pass|int > 0 %}<td>{{ run['results']['pass'] }}</td>{% endif %}
                      {% if num_fail|int > 0 %}<td>{{ run['results']['fail'] }}</td>{% endif %}
                      {% if num_dead|int > 0 %}<td>{{ run['results']['dead'] }}</td>{% endif %}
                      {% if num_unknown|int > 0 %}<td>{{ run['results']['unknown'] }}</td>{% endif %}
                      {% if num_running|int > 0 %}<td>{{ run['results']['running'] }}</td>{% endif %}
                    </tr>
                  {% endfor %}
               </tbody>
              </table>
            </div><!-- /example -->
          </div>
        </div>
{% endblock %}

