{% extends "layout.html" %}

{% block body %}

      <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="tables">Job {{ job.job_id }}</h1>
            </div>

            <div class="bs-example">
              <table class="table table-striped table-bordered table-hover link-bare">
                <thead>
                  <tr>
                    <th>Posted</th>
                    <th>Started</th>
                    <th>Updated</th>
                    <th><div class="tip" data-toggle="tooltip" title="Runtime calculated by Pulpito" data-placement="top">Runtime</div></th>
                    <th><div class="tip" data-toggle="tooltip" title="Duration reported by teuthology" data-placement="top">Duration</div></th>
                    <th>Machine</th>
                    <th>Teuthology Branch</th>
                    <th>OS Type</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="{{ job.status_class }}">
                        <td>
                            {{ job.posted|localtime }}
                        </td>
                        <td>
                            {{ job.started|localtime }}
                        </td>
                        <td>
                            {{ job.updated|localtime }}
                        </td>
                        <td>
                            {{ job.runtime }}
                        </td>
                        <td>
                            {{ job.duration }}
                        </td>
                        <td>
                            {{ job.machine_type }}
                        </td>
                        <td>
                            {{ job.teuthology_branch }}
                        </td>
                        <td>
                            {{ job.os_type }}
                        </td>
                        <td>
                            {{ job.status }}
                        </td>
                    </tr>
                </tbody>
              </table>
              <p>
                Log:
                <a href="{{ job.log_href }}" target="_blank">
                  {{ job.log_href }}
                </a>
              </p>
              {% if job.sentry_event %}
                <p>
                    Sentry event:
                    <a href="{{ job.sentry_event }}" target="_blank">
                        {{ job.sentry_event }}
                    </a>
                </p>
              {% endif %}
              {% if job.failure_reason %}
                <h4> Failure Reason:</h4>
                <p class="code-text">
                    {{ job.failure_reason|e }}
                </p>
              {% endif %}
            </div>
            <div class="panel-group" id="detail-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="detail-panel" href="#collapseOne">All Details...</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                            {% for (key, value) in job.items() recursive %}
                            {% set outer_loop = loop %}
                                <li>{{ key }}:
                                {% if value is mapping %}
                                    <ul>{{ loop(value.items()) }}</ul>
                                {% elif value is string and value|length > 0 %}
                                    {{ value }}
                                {% elif value is sequence and value|length > 0 %}
                                    <ul>
                                    {% for item in value %}
                                        <li>
                                        {% if item is mapping %}
                                            {{ outer_loop(item.items()) }}
                                        {% elif item|string|length > 0 %}
                                            {{ item }}
                                        {% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% elif value|string == "None" %}
                                {% elif value|string|length == 0 %}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
{% endblock %}


