<html>
    <head>
      <title>{% block title %}{% endblock %}Pulpito :: Results Dashoard</title>
      {% block css %}
      <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
      {% endblock %}
      {% block javascript %}
      <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.js"></script>
      <script>
        $( document ).ready(function() {
            $("table").tablesorter({
                sortList: [[0,0]]
            });
            $("table").bind('sortEnd', function (event) {
                var th = $(this).find("th");
                th.find(".arrow").remove();
                var downArrow = '<span class="arrow">↓</span>';
                var upArrow = '<span class="arrow">↑</span>';
                $(this).find(".headerSortDown").append(downArrow);
                $(this).find(".headerSortUp").append(upArrow);
            });

            open_panel_count = 0;
            function update_toggle_button() {
                $('#toggle-btn').text((open_panel_count ? "Collapse" : "Expand") + " All")
            }
            update_toggle_button(); // Run once on page load to text #toggle-btn

            $('#toggle-btn').click(function() {
                $(open_panel_count ? '.in': '.collapse').collapse(open_panel_count ? 'hide' : 'show');
            });

            $('.collapse').on('shown.bs.collapse', function () {
                open_panel_count++;
                update_toggle_button();
            });

            $('.collapse').on('hidden.bs.collapse', function () {
                open_panel_count--;
                update_toggle_button();
            });

        });
        </script>
      {% endblock %}
    </head>
    <body>
      <div class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"> <img src="/images/pulpito-white.png" width="40px">Pulpito</a>
          </div>
        </div><!-- /.container -->
      </div>
      <div class="container">
      {% block body %}{% endblock %}
      </div>
    </body>
</html>
