<html>
    <head>
      <title>{% block title %}{% endblock %}Pulpito :: Results Dashoard</title>
      {% block css %}
      <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="/css/datepicker.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="/css/typeahead.js-bootstrap.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      {% endblock %}
      {% block javascript %}
      <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
      <script type="text/javascript" src="/js/typeahead.min.js"></script>
      <script type="text/javascript" src="/js/main.js"></script>
      <script type="text/javascript">
        set_paddles_address("{{ paddles_address }}");
        var filters = JSON.parse('{{ filters|tojson|safe if filters else {}|tojson }}');
        set_filters(filters);
      </script>
      {% endblock %}
    </head>
    <body>
      <div class="navbar navbar-inverse">
          <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" onclick="filter('', '')" href="#"> <img src="/images/pulpito-white.png" width="40px">Pulpito</a>
          </div>
          <div>
            <form class="navbar-form navbar-left" role="search">
                <input type="text" size="10" id="search-dates" placeholder="yyyy-mm-dd">
            </form>
            <ul class="nav navbar-nav">
                <li class="dropdown statuses">
                    <a href="#" class="dropdown-toggle" id="menu-statuses" data-toggle="dropdown">By Status
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for status in ['running', 'finished pass', 'finished fail', 'finished dead', 'unknown'] %}
                        <li><a onclick="stack_filter('status', '{{ status }}')" href="#">{{ status }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown branches">
                    <a href="#" class="dropdown-toggle" id="menu-branches" data-toggle="dropdown">By Branch
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for branch in ['master', 'next', 'emperor', 'dumpling', 'cuttlefish', 'bobtail'] %}
                        <li><a onclick="stack_filter('branch', '{{ branch }}')" href="#">{{ branch }}</a></li>
                        {% endfor %}
                        <li>
                            <form class="navbar-form">
                                <input id="search-branches" class='typeahead' type="text" placeholder='search...'>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="menu-suites" data-toggle="dropdown">By Suite
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="menu-machine-type" data-toggle="dropdown">By Machine Type
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
            </ul>
            </div>
          </div>
      </div>
      <div class="container">
        {% block body %}{% endblock %}
      </div>
      </div>
      <!-- Static Modal -->
      <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                      <div class="text-center">
                          <img src="/images/loading.gif" class="icon" />
                          <h4>Loading...
                              <!--<button type="button" class="close" style="float: none;" data-dismiss="modal" aria-hidden="true">×</button>-->
                          </h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </body>
</html>
