<html>
    <head>
      <title>{% block title %}{% endblock %}Pulpito :: Results Dashoard</title>
      {% block css %}
      <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
      {% endblock %}
      {% block javascript %}
      <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.js"></script>
      <script>
        $( document ).ready(function() {
            $("table")
                .tablesorter({
                    sortList: [[0,0]],
                    selectorHeaders: "> thead th"
                })
                .bind('sortEnd', function (event) {
                    var th = $(this).find("th");
                    th.find(".arrow").remove();
                    var downArrow = '<span class="arrow">↓</span>';
                    var upArrow = '<span class="arrow">↑</span>';
                    $(this).find(".tablesorter-headerDesc").children().append(downArrow);
                    $(this).find(".tablesorter-headerAsc").children().append(upArrow);
                });

            $('.tip').tooltip();

            open_panel_count = 0;
            function update_toggle_button() {
                $('#expand-fail-btn').text((open_panel_count ? "Collapse" : "Expand") + " All")
            }
            update_toggle_button(); // Run once on page load to text #expand-fail-btn

            $('#expand-fail-btn').click(function() {
                $(open_panel_count ? '.in': '.collapse').collapse(open_panel_count ? 'hide' : 'show');
            });

            $('.collapse').on('shown.bs.collapse', function () {
                open_panel_count++;
                update_toggle_button();
            });

            $('.collapse').on('hidden.bs.collapse', function () {
                open_panel_count--;
                update_toggle_button();
            });

            // bootstrap's radio buttons don't play nicely with jquery for some
            // reason. this gives all btn-groups the radio effect.
            $(".btn-group button").click(function() {
                $(this).addClass('active').siblings('.btn').not(this).removeClass('active');
            });

            $('#fail-job-btn').click(function() {
                $('.job').hide();
                $('.job_fail_extra').show();
                $('.job_fail').show();
                $('#expand-fail-btn').prop('disabled', false);
            });

            $('#running-job-btn').click(function() {
                $('.job').hide();
                $('.job_fail_extra').hide();
                $('.job_running').show();
                $('#expand-fail-btn').prop('disabled', true);
            });

            $('#pass-job-btn').click(function() {
                $('.job').hide();
                $('.job_fail_extra').hide();
                $('.job_pass').show();
                $('#expand-fail-btn').prop('disabled', true);
            });

            $('#all-job-btn').click(function() {
                $('.job_fail_extra').show();
                $('.job').show();
                $('#expand-fail-btn').prop('disabled', false);
            });

        });
        </script>
      {% endblock %}
    </head>
    <body>
      <div class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"> <img src="/images/pulpito-white.png" width="40px">Pulpito</a>
          </div>
        </div><!-- /.container -->
      </div>
      <div class="container">
      {% block body %}{% endblock %}
      </div>
    </body>
</html>
