<tr class="{{ node.status_class }}">
  {% if node.fqdn %}
    <td data-title="Name"><a href="./{{ node.fqdn }}">{{ node.name }}</a></td>
  {% else %}
    <td data-title="Name">{{ node.name }}</td>
  {% endif %}
  <td data-title="Machine Type">{{ node.machine_type }}</td>
  <td data-title="Up">{{ node.up }}</td>
  <td data-title="Locked">{{ node.locked }}</td>
  <td data-title="Locked Since">{{ node.locked_since|brief }}</td>
  <td data-title="Locked By">{{ node.locked_by|brief }}</td>
  <td data-title="OS Type">{{ node.os_type|brief }}</td>
  <td data-title="OS Version">{{ node.os_version|brief }}</td>
  <td data-title="Arch">{{ node.arch|brief }}</td>
  <td data-title="Description">{{ node.description }}</td>
</tr>
