{% extends "layout.html" %}

{% block body %}

      <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="tables">{{ run['name'] }} Results</h1>
              <h2>
                {% if run['results']['fail'] %}
                  {{ run['results']['fail'] }} failed,
                {% endif %}
                {% if run['results']['running'] %}
                  {{ run['results']['running'] }} running,
                {% endif %}
                {% if run['results']['pass'] %}
                  {{ run['results']['pass'] }} passed
                {% endif %}
                ({{ run['results']['total'] }} total)
              </h2>
            </div>

            <div class="bs-example">
              <table class="table table-striped table-bordered table-hover link-bare">
                <thead>
                  <tr>
                    <th data-sort="int">Job ID</th>
                    <th data-sort="int">Duration</th>
                    <th data-sort="string">Machine</th>
                    <th data-sort="string">Teuthology Branch</th>
                    <th data-sort="string">OS Type</th>
                    <th data-sort="string">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for job in run['jobs'] %}
                    <tr class="{{ job['status_class'] }}">
                      <td>
                        <a href="/{{ run['name']}}/{{ job['job_id'] }}" target="_blank">
                          {{ job['job_id'] }}
                        </a>
                      </td>
                      <td>
                          {{ job['duration'] }}
                      </td>
                      <td>
                          {{ job['machine_type'] }}
                      </td>
                      <td>
                          {{ job['teuthology_branch'] }}
                      </td>
                      <td>
                          {{ job['os_type'] }}
                      </td>
                      <td>
                          {{ job['status'] }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div><!-- /example -->
          </div>
        </div>
{% endblock %}


