{% extends "layout.html" %}

{% block body %}

      <div class="row">
          <div class="col-lg-12">
            <div class="page-header">

            {% set results = run.results %}
            <div class="panel-group" id="detail-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            <a data-toggle="collapse" data-parent="detail-panel" href="#collapseOne">{{ run.name }}</a>
                        </h1>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div id="table-flow" class="panel-body">
                            <table class="table table-condensed table-striped table-hover">
                            {% include "run_table_head.html" %}
                            <tbody>
                                {% include "run_table_body.html" %}
                            </tbody>
                            </table>
                            <h2>Average wait time: {{ run.avg_wait_time }}</h2>
                        </div>
                    </div>
                </div>
            </div>

              {% if run.branch and run.suite %}
                <h2>
                  <a href="/compare?branch={{ run.branch }}&suite={{ run.suite }}" target="_blank">
                      See other runs of suite '{{ run.suite }}' on branch '{{ run.branch }}'?
                  </a>
                </h2>
              {% endif %}
              {% if run.scheduled %}
                <h2>
                  <a href="/date/{{ run.scheduled_day }}/" target="_blank">
                    See other runs scheduled on {{ run.scheduled_day }}?
                  </a>
                </h2>
              {% endif %}
            </div>

            <div class="btn-group">
              {% if run.results.queued %}
                <button type="button" class="btn btn-primary" id='queued-job-btn'>{{ run.results.queued }} Queued</button>
              {% endif %}
              {% if run.results.fail %}
                <button type="button" class="btn btn-danger" id='fail-job-btn'>{{ run.results.fail }} Failed</button>
              {% endif %}
              {% if run.results.dead %}
                <button type="button" class="btn btn-danger" id='dead-job-btn'>{{ run.results.dead }} Dead</button>
              {% endif %}
              {% if run.results.running %}
                <button type="button" class="btn btn-warning" id='running-job-btn'>{{ run.results.running }} Running</button>
              {% endif %}
              {% if results.waiting %}
                <button type="button" class="btn btn-info" id='waiting-job-btn'>{{ results.waiting }} Waiting</button>
              {% endif %}
              {% if run.results.unknown %}
                <button type="button" class="btn btn-warning" id='unknown-job-btn'>{{ run.results.unknown }} Unknown</button>
              {% endif %}
              {% if run.results.pass %}
                <button type="button" class="btn btn-success" id='pass-job-btn'>{{ run.results.pass }} Passed</button>
              {% endif %}
                <button type="button" class="btn btn-primary active" id='all-job-btn'>{{ run.results.total }} Total</button>
            </div>
            <button type="button" class="btn btn-info {{ '' if run.results.fail or run.results.dead else 'disabled'}}" id="expand-fail-btn"></button>
            <div class="bs-example">
                {% set jobs = run.jobs %}
                {% include "run_jobs_table.html" %}
            </div><!-- /example -->
          </div>
        </div>
{% endblock %}


