{% extends "layout.html" %}

{% block body %}

      <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1>{{ run.name }} Results</h1>
              {% if run.branch and run.suite %}
                <h2>
                  <a href="/compare?branch={{ run.branch }}&suite={{ run.suite }}" target="_blank">
                      See other runs of suite '{{ run.suite }}' on branch '{{ run.branch }}'?
                  </a>
                </h2>
              {% endif %}
              {% if run.scheduled %}
                <h2>
                  <a href="/date/{{ run.scheduled_day }}/" target="_blank">
                    See other runs scheduled on {{ run.scheduled_day }}?
                  </a>
                </h2>
              {% endif %}
            </div>

            <div class="btn-group">
              {% if run.results.fail %}
                <button type="button" class="btn btn-danger" id='fail-job-btn'>{{ run.results.fail }} Failed</button>
              {% endif %}
              {% if run.results.dead %}
                <button type="button" class="btn btn-danger" id='dead-job-btn'>{{ run.results.dead }} Dead</button>
              {% endif %}
              {% if run.results.running %}
                <button type="button" class="btn btn-warning" id='running-job-btn'>{{ run.results.running }} Running</button>
              {% endif %}
              {% if run.results.unknown %}
                <button type="button" class="btn btn-warning" id='unknown-job-btn'>{{ run.results.unknown }} Unknown</button>
              {% endif %}
              {% if run.results.pass %}
                <button type="button" class="btn btn-success" id='pass-job-btn'>{{ run.results.pass }} Passed</button>
              {% endif %}
                <button type="button" class="btn btn-primary active" id='all-job-btn'>{{ run.results.total }} Total</button>
            </div>
            <button type="button" class="btn btn-info {{ '' if run.results.fail else 'disabled'}}" id="expand-fail-btn"></button>
            <div class="bs-example">
              <table class="table table-condensed table-striped table-bordered table-hover" style="border-collapse:collapse;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Job ID</th>
                    <th data-sorter="false">Links</th>
                    <th>Duration</th>
                    <th>Machine</th>
                    <th>Teuthology Branch</th>
                    <th>OS Type</th>
                  </tr>
                </thead>
                <tbody>
                {% if not run.jobs|length %}
                  <tr>
                    <td colspan=7>No jobs!</td>
                  </tr>
                {% else %}
                  {% for job in run.jobs %}
                    <tr class="{{ job.status_class }} job job_{{job.status}}" data-toggle="collapse" data-target="#{{ job.job_id }}">
                      <td>
                        {{ job.status }}
                      </td>
                        <td>
                          <a href="/{{ run['name']}}/{{ job['job_id'] }}" target="_blank">
                            {{ job['job_id'] }}
                          </a>
                        </td>
                        <td>
                          {% if job.log_href %}
                            <a href="{{ job.log_href }}" target="_blank"><img src="/images/log.png" width="24px"></a>
                          {% endif %}
                          {% if job.sentry_event %}
                            <a href="{{ job.sentry_event }}" target="_blank"><img src="/images/sentry.png" width="24px"></a>
                          {% endif %}
                        </td>
                        <td>
                          {{ job['duration_pretty'] }}
                        </td>
                        <td>
                          {{ job['machine_type'] }}
                        </td>
                        <td>
                          {{ job['teuthology_branch'] }}
                        </td>
                        <td>
                          {{ job['os_type'] }}
                        </td>
                      </tr>
                      {% if job.failure_reason %}
                        <tr class="tablesorter-childRow job_fail_extra">
                          <td colspan="7" class="hiddenRow"><div class="collapse" id="{{ job.job_id }}">
                            Failure Reason:
                            <p class="code-text">
                              {{ job.failure_reason|e }}
                            </p>
                          </div></td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div><!-- /example -->
          </div>
        </div>
{% endblock %}


