<div id='table-flow'>
<table id='run-job-table' class="table table-condensed table-striped table-bordered table-hover" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>Status</th>
      <th>Job ID</th>
      <th data-sorter="false">Links</th>
      <th>Posted</th>
      <th>Started</th>
      <th>Updated</th>
      <th><div class="tip" data-toggle="tooltip" title="Runtime calculated by Pulpito" data-placement="left">Runtime</div></th>
      <th><div class="tip" data-toggle="tooltip" title="Duration reported by teuthology" data-placement="left">Duration</div></th>
      <th><div class="tip" data-toggle="tooltip" title="Amount of time spent in the waiting status" data-placement="left">In Waiting</div></th>
      <th>Machine</th>
      <th>Teuthology Branch</th>
      <th>OS Type</th>
      <th>OS Version</th>
      <th>Description</th>
      <th>Nodes</th>
    </tr>
  </thead>
  <tbody>
    {% if not jobs|length %}
      <tr>
	<td colspan=7>No jobs!</td>
      </tr>
    {% else %}
      {% for job in jobs %}
	<tr class="{{ job.status_class }} job job_{{job.status}}" data-toggle="collapse" data-target="#{{ job.job_id }}">
	  <td data-title="Status">
	    {{ job.status }}
	  </td>
          <td data-title="Job ID">
            <a href="/{{ job['name']}}/{{ job['job_id'] }}" class="tip" target="_blank" title="{{job.description}}">
              {{ job['job_id'] }}
            </a>
          </td>
          <td data-title="Links">
            {% if job.log_href and job.status != 'queued' %}
              <a href="{{ job.log_href }}" target="_blank"><img src="/images/log.png" width="24px"></a>
            {% endif %}
            {% if job.sentry_event %}
              <a href="{{ job.sentry_event }}" target="_blank"><img src="/images/sentry.png" width="24px"></a>
            {% endif %}
            {% if job.pcp_grafana_url %}
              <a href="{{ job.pcp_grafana_url }}" target="_blank"><img src="/images/pcp_graph.png" width="24px"></a>
            {% endif %}
          </td>
          <td data-title="Posted">
            {{ job.posted|localtime }}
          </td>
          <td data-title="Started">
            {{ job.started|localtime }}
          </td>
          <td data-title="Updated">
            {{ job.updated|localtime }}
          </td>
          <td data-title="Runtime">
            {{ job['runtime'] }}
          </td>
          <td data-title="Duration">
            {{ job['duration'] }}
          </td>
          <td data-title="In Waiting">
            {{ job['wait_time'] }}
          </td>
          <td data-title="Machine Type">
            {{ job['machine_type'] }}
          </td>
          <td data-title="Teuthology Branch">
            {{ job['teuthology_branch'] }}
          </td>
          <td data-title="OS Type">
            {{ job['os_type'] }}
          </td>
          <td data-title="OS Version">
            {{ job['os_version'] }}
          </td>
          <td data-title="Description">
            {{ job['description'] }}
          </td>
          <td data-title="Nodes">
            {% if job['targets'] %}{{ job['targets'].items()|length }}{% else %}&mdash;{% endif %}
          </td>
        </tr>
        {% if job.failure_reason %}
          <tr class="tablesorter-childRow job_fail_extra">
            <td colspan="14" class="hiddenRow"><div class="collapse" id="{{ job.job_id }}">
              Failure Reason:
              <p class="code-text">
                {{ job.failure_reason|e }}
              </p>
            </div></td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
</div>
