<tr class="{{ run['status_class'] }}">
  {% set fields = ['user', 'scheduled', 'started', 'updated', 'runtime', 'suite', 'branch', 'machine_type'] %}
  {% for field in fields %}
    <td data-title="{{ field|capitalize }}">
		{% if runs %}
			<a href="/{{ run.name }}">
		{% endif %}
    {% if field in ['scheduled', 'started', 'updated'] %}
			{{ run[field]|localtime }}
    {% else %}
			{{ run[field] }}
    {% endif %}
		{% if runs %}
			</a>
		{% endif %}
    </td>
  {% endfor %}
  <td data-title="Revision">{%
    if run and 'sha1' in run and run['sha1']
      %}<a href="/?sha1={{ run['sha1']}}" target="_blank" title="Show all runs for '{{ run['sha1'][0:256] }}'">{{ run['sha1'][0:7] }}</a>{%
    else
      %}&mdash;{%
    endif %}</td>
  {% if results.queued|int > 0 %}<td data-title="Queued">{{ run['results']['queued'] }}</td>{% endif %}
  {% if results.pass|int > 0 %}<td data-title="Pass">{{ run['results']['pass'] }}</td>{% endif %}
  {% if results.fail|int > 0 %}<td data-title="Fail">{{ run['results']['fail'] }}</td>{% endif %}
  {% if results.dead|int > 0 %}<td data-title="Dead">{{ run['results']['dead'] }}</td>{% endif %}
  {% if results.unknown|int > 0 %}<td data-title="Unknown">{{ run['results']['unknown'] }}</td>{% endif %}
  {% if results.waiting|int > 0 %}<td data-title="Waiting">{{ run['results']['waiting'] }}</td>{% endif %}
  {% if results.running|int > 0 %}<td data-title="Running">{{ run['results']['running'] }}</td>{% endif %}
</tr>
